doctype strict
html
  script(type='text/javascript', src='http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=FA38BC92-346A-354B-B774-8BF75ACD9D3A')
  body
    #vmap(style='width: 100%; height: 380px; left: 0px; top: 0px')
    script(type='text/javascript', src='./javascripts/kml.js')
